.none {
	display: none !important;
}

.v-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow: hidden !important;
}

.accent-color {
	color: var(--accent);
}

.accent-hover {
	transition: color 0.2s ease-in-out;
	&:hover {
		color: var(--accent);
	}
}

.underline {
	position: relative;
	transition: color 0.2s;
	&::after {
		content: "";
		display: block;
		height: 1px;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: -5px;
		background-color: var(--accent);
		opacity: 0;
		transition: opacity 0.2s;
	}
	&:hover {
		color: var(--accent);
	}
	&:hover::after {
		opacity: 1;
	}
}

.underline-white {
	position: relative;
	&::after {
		content: "";
		display: block;
		height: 1px;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: -5px;
		background-color: var(--white);
		opacity: 0;
		transition: opacity 0.2s;
	}
	&:hover::after {
		opacity: 1;
	}
}

.shadow {
	box-shadow: 0px 8px 20px 0px rgba(86, 86, 86, 0.15);
}

.transition {
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.fx-aic {
	display: flex;
	align-items: center;
}
.fx-aic-jcc {
	display: flex;
	align-items: center;
	justify-content: center;
}
.fx-v-jc {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tablet-hide {
	@include mw1024 {
		display: none !important;
	}
}
.tablet-show {
	display: none !important;
	@include mw1024 {
		display: flex !important;
	}
}
.tablet-show-center {
	display: none !important;
	@include mw1024 {
		display: flex !important;
		align-self: center;
	}
}
.mobile-hide {
	@include mw768 {
		display: none !important;
	}
}
.mobile-show {
	display: none !important;
	@include mw768 {
		display: flex !important;
	}
}

.bg {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		background-color: rgba(34, 34, 34, 0.4);
		transition: background-color 0.3s;
		z-index: 1;
	}
}

//animation: show 0.3s linear;
@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
