.none {
	display: none !important;
}

.v-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow: hidden !important;
}

.accent-hover {
	transition: color .2s ease-in-out;
	&:hover {
		color: var(--accent);
	}
}

.shadow { box-shadow: 0px 8px 20px 0px rgba(86, 86, 86, 0.15) }

.border-400 { border: 1px solid #CBD3DA }
.border-600 { border: 1px solid #6C757D }