:root {
	--container-width: 1640px;
	--container-padding: 20px;

	--dark: #101113;
	--white: #ffffff;
	--accent: #4C87FB;
	--red: #E14D3C;
	--green: #28A745;
	--gray200: #EDF0F4;
	--gray400: #CBD3DA;
	--gray600: #6C757D;

	--font-main: "Manrope", sans-serif;
}


@mixin mw1440(){
	@media (max-width: 1440px) {
		@content;
	}
}

@mixin mw1024(){
	@media (max-width: 1024px) {
		@content;
	}
}

@mixin mw768(){
	@media (max-width: 767px) {
		@content;
	}
}
