.working {
	&-grid {
		display: grid;
		grid-gap: 30px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		@include mw1024 {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: auto;
		}
	}
	&-cell {
		padding: 20px;
		border: 1px solid var(--gray400);
		@include mw768 {
			padding: 10px;
		}

		&:first-child {
			grid-column: 1 / 3;
			border: unset;
		}

		& > span {
			display: block;
		}
		&__num {
			margin-bottom: 40px;
			color: var(--accent);
			font-size: 28px;
			font-weight: 400;
			line-height: 120%;
			@include mw768 {
				margin-bottom: 20px;
				font-size: 20px;
			}
		}
		&__title {
			color: var(--dark);
			font-size: 16px;
			font-weight: 600;
			line-height: 130%;
		}
		&__times {
			margin: 20px 0;
			color: var(--gray600);
			font-size: 16px;
			font-weight: 600;
			line-height: 130%;
			@include mw768 {
				margin: 8px 0;
			}
		}
		&__desc {
			color: var(--dark);
			font-size: 16px;
			font-weight: 400;
			line-height: 140%;
			@include mw768 {
				font-size: 14px;
			}
		}
	}
}

.button-center {
	text-align: center;
}

// --about-we-working
.about-we-working {
	.title-block {
		margin-bottom: 0;
	}

	.button-center {
		margin-top: 40px;
		@include mw768 {
			margin-top: 30px;
		}
	}
}
.opportunity-slider {
	position: relative;
	overflow-x: clip;
	margin-bottom: 50px;

	.swiper-wrapper {
		@include mw768 {
			display: grid;
			grid-gap: 16px;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.swiper-slide {
		padding: 30px 30px 0;
		height: initial;
		box-shadow: 0px 8px 20px 0px rgba(86, 86, 86, 0.15);
		@include mw768 {padding: 10px}

		.sws-title {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap: nowrap;
			gap: 20px;
			color: var(--dark);
			font-size: 26px;
			font-weight: 500;
			line-height: 120%;
			@include mw1024 {
				font-size: 20px;
				&::after {
					content: '';
					display: block;
					width: 40px;
					height: 40px;
					background-image: url(../images/svg/arrow-diag.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					@include mw768 {content: none}
				}
			}
			@include mw768 {font-size: 16px}
		}
	}
	.slider-buttons {
		position: absolute;
		right: 0;
		top: -63px;
		display: flex;
		gap: 20px;
		@include mw768 {display: none;}
	}
	.slider-prev,
	.slider-next {
		display: flex;
		height: 34px;
		padding: 12px 16px;
		justify-content: center;
		align-items: center;
		border-radius: 4px;
		border: 1px solid var(--border600);
		cursor: pointer;
		transition: background-color 0.2s;
	}
}
