// blog
.blog {
	&.title-block {
		margin-bottom: 30px;
		@include mw768 {
			margin-bottom: 20px;
		}
	}

	&__btn {
		text-align: center;
		margin-top: 40px;
		@include mw768 {
			margin-top: 30px;
		}
	}
}

//categories
.categories {
	margin-bottom: 20px;
	padding: 20px 0;
	border-top: 1px solid var(--border400);
	border-bottom: 1px solid var(--border400);

	@include mw768 {
		padding-top: 0;
		border-top: unset;
	}

	&-list {
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		gap: 30px;
		overflow-x: auto;

		&::-webkit-scrollbar {
			height: 0;
			width: 0;
		}
	}

	&-item {
		button {
			color: var(--gray600);
			font-size: 20px;
			font-weight: 500;
			line-height: 130%;
			transition: color 0.2s;
			white-space: nowrap;
			border: 1px solid transparent;

			@include mw1024 {font-size: 16px}
			@include mw768 {font-size: 14px}
		}

		&.active button {
			color: var(--accent);
			@include mw768 {
				padding: 4px 8px 5px;
				border-radius: 14px;
				background-color: var(--accent);
				color: var(--white);
			}
		}
	}
}

// post-list
.post {

	&-swiper-wrapper {
		padding: 10px 0;
	}

	&-item {
		transition: box-shadow 0.25s;
		&:hover {
			box-shadow: 3px 3px 8px #11111155;
		}
	}

	&-list {
		&:not(.tbc) {display: grid}
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 30px;
		@include mw1024 {
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}
		@include mw768 {
			grid-template-columns: 1fr;
			gap: 20px;
		}
	}

	&-item {
		display: flex;
		flex-direction: column;
		gap: 8px;
		cursor: pointer;

		@include mw768 {
			margin: 0 auto!important;
			max-width: 380px;
		}
	}

	&-img {
		img {
			aspect-ratio: 378 / 260;
			height: 100%;
			width: 100%;
			object-fit: cover;

			@include mw1440 {aspect-ratio: 320 / 260;}
			@include mw768 {aspect-ratio: 320 / 218;}
		}
	}

	&-content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		.date {
			margin-bottom: 5px;
		}

		.h3 {
			color: var(--dark);
			margin-bottom: 10px;
			font-size: 16px;
			font-weight: 600;
			line-height: 130%;
		}

		p {
			margin-top: auto;
			color: var(--dark);
			font-size: 16px;
			font-weight: 400;
			line-height: 140%;

			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}
}
