// main-form
.main-form {
	&__wrapper {
		display: flex;
		background-color: var(--gray200);
	}

	&__img {
		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
		@include mw1024 {
			display: none;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 50px;
		color: var(--dark);
		@include mw768 {
			padding: 30px 20px;
			width: 100%;
			gap: 15px;
		}

		h2 {
			font-size: 36px;
			font-weight: 600;
			line-height: 130%;
			text-transform: uppercase;
			@include mw768 {
				font-size: 18px;
			}

			& + p {
				font-size: 18px;
				font-weight: 500;
				line-height: 140%;
				@include mw768 {
					font-size: 16px;
				}
			}
		}
	}
}

.form-ask {
	display: flex;
	flex-direction: column;
	gap: 20px;
	@include mw768 {
		gap: 15px;
	}

	input[type="text"],
	input[type="tel"] {
		padding: 21px 20px 22px;
		width: 100%;
		height: 65px;

		font-size: 16px;
		font-weight: 500;
		line-height: 130%;
	}

	textarea {
		padding: 23px 20px;
		width: 100%;
		height: 120px;

		font-size: 16px;
		font-weight: 500;
		line-height: 130%;
	}

	&__accept {
		font-size: 14px;

		input[type="checkbox"] {
			display: inline-block;
			margin-right: 8px;
		}
		& > a:hover {
			text-decoration: underline;
		}
	}
	button[type="submit"] {
		align-self: start;
		@include mw768 {
			margin-top: 15px;
		}
	}
}

form.jsForm {
	input[type="text"],
	input[type="tel"],
	textarea {
		color: var(--gray600);
		border: 1px solid var(--gray600);
		background-color: var(--white);

		&:valid {
			color: var(--dark);
			border: 1px solid var(--dark);
		}

		&::placeholder {
			color: var(--gray600);
		}

		&:focus {
			color: var(--dark);
			border: 1px solid var(--dark);

			&::placeholder {
				color: var(--dark);
			}
		}

		&:disabled {
			color: var(--gray600);
			border: 1px solid var(--gray600);
			background-color: var(--gray200);
		}
	}

	.error-valid {
		color: var(--red);

		input[type="text"],
		input[type="tel"],
		textarea {
			color: var(--red);
			border: 1px solid var(--red);
			&::placeholder {
				color: var(--red);
			}
		}
	}
	.error-msg {
		display: block;
		margin-top: -10px;
		font-size: 14px;
		line-height: 120%;
		color: var(--red);
	}

	textarea {
		resize: none;
	}
}
