// --modal-callback
.callback {
	position: relative;
	max-width: 552px;
	width: 100%;
	padding: 60px 60px 40px;
	background: var(--gray200);
	color: var(--dark);
	@include mw768 {
		padding: 40px 20px 30px;
		max-width: 100%;
		margin: 0 20px;
	}

	&-bg {
		transform: translateY(-150%);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		background: #111111cc;
		transition: transform 0.5s ease-in-out;

		display: flex;
		align-items: center;
		justify-content: center;

		&.show {
			transform: translateY(0);
		}
	}

	& > h2 {
		margin-bottom: 10px;
		font-size: 36px;
		font-weight: 600;
		line-height: 130%;
		text-transform: uppercase;
		@include mw768 {font-size: 18px}
	}
	& > p {
		margin-bottom: 15px;
		font-size: 18px;
		font-weight: 500;
		line-height: 140%;
		@include mw768 {font-size: 14px}
	}

	label {
		display: flex;
		& > input {
			margin-bottom: 15px;
			padding: 5px 20px;
			height: 55px;
			width: 100%;
			font-size: 18px;
			transition: box-shadow 0.2s;
			background-color: var(--white);
			border: 1px solid var(--gray600);
			@include mw768 {font-size: 14px}

			&:hover {
				box-shadow: 0 0 6px #aaa;
			}
		}
	}

	textarea {
		padding: 23px 20px;
		width: 100%;
		height: 90px;
		background-color: var(--white);
		border: 1px solid var(--gray600);
		resize: none;
	}
	label > input,
	textarea {
		color: var(--dark);
	}
	label > input::placeholder,
	textarea::placeholder {
		color: var(--gray600);
	}

	.accept {
		position: relative;
		display: flex;
		align-items: flex-start;
		margin: 15px 0 30px;
		padding-left: 28px;
		@include mw768 {font-size: 14px}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 5px;
			display: flex;
			width: 18px;
			height: 18px;
			border-radius: 2px;
			border: 1px solid var(--gray600);
			transition: box-shadow 0.2s;
		}
		&::after {
			
			position: absolute;
			left: 0;
			top: 5px;
			display: flex;
			width: 18px;
			height: 18px;
			background: url(../images/svg/check.svg) center no-repeat;
		}
		&:hover::before,
		&:focus::before {
			box-shadow: 0 0 5px var(--gray600);
		}
	}

	input[name=accept]:checked + .accept::before {
		background-color: var(--accent);
	}
	input[name=accept]:checked + .accept::after {
		content: '';

	}

	&-close {
		position: absolute;
		right: 20px;
		top: 20px;
		display: block;
		width: 32px;
		height: 32px;
		background-color: unset;
		cursor: pointer;
		transition: transform 0.2s;
		@include mw768 {
			width: 22px;
			height: 22px;
		}
	}
	&-close:hover {
		transform: scale(1.2);
	}
}

@media (max-height:500px) {
	.callback {
		padding: 20px 15px 10px;
	}
}