// news
.news {
	&.title-block {
		margin-bottom: 30px;
		@include mw768 {
			margin-bottom: 20px;
		}
	}
}
// news-list
.news {
	&-list {
	}

	&-item {
		display: flex;
		gap: 30px;
		padding: 20px 0;
		border-bottom: 1px solid var(--border400);
		@include mw1024 { gap: 20px }
		@include mw768 {
			margin: 0 auto;
			max-width: 360px;
			flex-direction: column;

			.read-more {display: none}
		}

		&:first-child {
			border-top: 1px solid var(--border400);
		}

		&__block {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			width: 100%;

			@include mw1024 {
				flex-direction: column;
				justify-content: flex-start;
				gap: 20px;
			}
		}

		&__img {
			max-width: 377px;
			width: 100%;
			overflow: hidden;
			@include mw1024 { max-width: 320px }
			@include mw768 { max-width: unset }
			img {
				aspect-ratio: 377 / 260;
				object-fit: cover;
				@include mw1024 { aspect-ratio: 320 / 260 }
				@include mw768 { aspect-ratio: 320 / 218 }
			}
		}

		&__content {
			max-width: 435px;
			color: var(--dark);

			.h3 {
				margin-bottom: 20px;
				font-size: 20px;
				font-weight: 500;
				line-height: 130%;
				@include mw768 {margin-bottom: 10px}
			}
			& > p {
				font-size: 16px;
				font-weight: 400;
				line-height: 140%;
			}
		}
	}

	&__btn {
		text-align: center;
		margin-top: 40px;
		@include mw768 {
			margin-top: 30px;
		}
	}
}

.date {
	color: var(--gray600);
	font-size: 16px;
	font-weight: 400;
	line-height: 140%;
	@include mw768 {
		font-size: 14px;
	}
}

.read-more {
	display: flex;
	align-items: center;
	gap: 10px;
	flex-wrap: nowrap;
	white-space: nowrap;
	color: var(--dark);
	font-size: 18px;
	font-weight: 500;
	line-height: 140%;

	img {
		display: block;
		width: 12px;
		height: 12px;
		object-fit: cover;
		transition: transform 0.2s;

		&:hover {
			transform: scale(1.2);
		}
	}
}
