.ideas {
	&-grid {
		display: grid;
		grid-gap: 30px;
		grid-template-rows: repeat(3, 300px);
		grid-template-areas:
			"i1 i1 i1 i1 i2 i2 i2 i2 i2 i3 i3 i3"
			"i4 i4 i4 i4 i4 i5 i5 i5 i6 i6 i6 i6"
			"i7 i7 i7 i8 i8 i8 i8 i9 i9 i9 i9 i9 ";
		@include mw1440 { grid-gap: 20px }
		@include mw1024 {
			grid-template-rows: repeat(6, 300px);
			grid-template-areas:
			"i1 i1 i1 i1 i1 i1 i1 i1 i1 i1 i1 i1"
			"i2 i2 i2 i2 i2 i2 i3 i3 i3 i3 i3 i3"
			"i4 i4 i4 i4 i4 i4 i4 i4 i4 i4 i4 i4"
			"i5 i5 i5 i5 i5 i5 i6 i6 i6 i6 i6 i6"
			"i7 i7 i7 i7 i7 i7 i8 i8 i8 i8 i8 i8"
			"i9 i9 i9 i9 i9 i9 i9 i9 i9 i9 i9 i9 ";
		}
	}

	&-item {
		&:nth-child(1) {
			grid-area: i1;
		}
		&:nth-child(2) {
			grid-area: i2;
		}
		&:nth-child(3) {
			grid-area: i3;
		}
		&:nth-child(4) {
			grid-area: i4;
		}
		&:nth-child(5) {
			grid-area: i5;
		}
		&:nth-child(6) {
			grid-area: i6;
		}
		&:nth-child(7) {
			grid-area: i7;
		}
		&:nth-child(8) {
			grid-area: i8;
		}
		&:nth-child(9) {
			grid-area: i9;
		}

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&-btn {
		display: flex;
		justify-content: center;
		margin-top: 40px;
		font-size: 16px;
		font-weight: 500;
		line-height: 130%;
		@include mw768 {
			margin-top: 30px;
		}
	}
}
