.breadcrumbs {
	ul {
		display: flex;
		align-items: center;
		gap: 10px;

		li {
			display: flex;
			gap: 10px;
			color: var(--white);
			&:not(:last-child)::after {
				content: '/';
				
			}

			&:last-child {
				a {
					color: var(--accent);
					pointer-events: none;
				}
			}
		}
	}
}